.full-width-color {
    width: 100%;
    padding: 120px 0;
    background: $c_white;
    display: block;
    float: left;
    &.blue {
        background: $c_blue; 
        color: $c_white !important;
        h1, h2, h3, h4, h5 {
            color: $c_white !important;
        }
    }
    &.yellow {
        background: $c_yellow; 
        h1, h2, h3, h4, h5 {
            color: $c_red !important;
        }
    }
    &.red {
        background: $c_red; 
        color: $c_white !important;
        h1, h2, h3, h4, h5 {
            color: $c_white !important;
        }
    }
    &.pink {
        background: $c_pink; 
    }
    &.gray {
        background: $c_pale; 
    }
    @media(max-width: 991px){
        padding: 80px 15px; 
    }
}