$c_white: #fff;
$c_black: #121416;
$c_dark: #1c212f;
$c_red: #9b3555;
$c_yellow: #ffecdb;
$c_gold: #edcf6e;
$c_blue: #485eae;
$c_lightblue: #8a96c1;
$c_lightgray: #bbb;
$c_pink: #fc9690;
$c_pale: #f1f1f1;