footer {
	float: left;
	width: 100%;
	padding: 60px 0 100px;
	background: $c_dark;
	color: white;
	.container {
		.footer-links {
			width: 100%;
			float: left;
			ul {
				margin: 0 auto;
			    display: table;
			    float: left;
			    width: 100%;
			    list-style: none;
			    padding-left: 0;
			    li {
			    	width: 25%;
			    	padding-right: 45px;
			    	padding-top: 20px;
			    	text-align: left;
				    font-family: "Galano Grotesque Alt", sans-serif;
				    display: block;
				    float: left;
				    max-width: inherit;
				    font-size: 13px;
				    text-transform: uppercase;
				    a {
				    	color: $c_lightgray;
				    	letter-spacing: 1.1px;
				    	text-decoration: none;
				    	@include smoothTransition;
				    	&:hover {
				    		color: $c_gold;
				    	}
				    }
				    .sub-menu {
				    	margin-top: 20px;
				    	padding: 0;
				    	li {
						    text-transform: none;
						    float: none;
			    			padding-top: 0;
						    margin: 0 0 10px 0;
						    line-height: 1.5;
						    width: 100%;
						    a {
						    	color: white;
						    	letter-spacing: none;
				    			font-family: "Galano Grotesque Alt", sans-serif;
						    	@include smoothTransition;
						    	&:hover {
						    		color: $c_gold;
						    	}
						    }
						}
				    }
			    }
			}
		}
		hr {
			float: left;
			width: 100%;
			margin: 60px 0 30px;
			border-top: 3px solid $c_lightgray;
		}
		.sub-footer {
			float: left;
			width: 100%;
			display: flex;
			justify-content: space-between;
			.logo-container {
				svg {
					width: 77px;
					path {
						fill: $c_blue;
						@include smoothTransition;
					}
					&:hover {
						path {
							fill: $c_gold;
						}
					}
				}
			}		
			.footer-meta {
				text-align: right;
				padding-left: 45px;
				color: $c_lightgray;
				font-size: 13px;
    			font-family: "Galano Grotesque Alt", sans-serif;
    			p {
    				margin-bottom: 5px;
    			}
				a {
					color: inherit !important;
					text-decoration: none;
					font-family: inherit;
		    		@include smoothTransition;
					&:hover {
						color: $c_gold !important;
					}
				}
			}	
		}


		@media(max-width: 991px){
			.footer-links {
				ul {
					li {
						width: 50%;
					}
				}
			}
		}

		@media(max-width: 767px){
			.footer-links {
				ul {
					li {
						width: 100%;
					}
				}
			}
			.logo-container {
				svg {
					width: 100px !important;
				}
			}
		}
	}
}