header {
	width: 100%;
	height: 110px;
	position: fixed;
    top: 0;
    z-index: 10000;
	background: $c_white;
	box-shadow: 4px 4px 4px rgba(0,0,0,0);
	transition: all .3s ease-in-out;
    font-family: 'Galano Grotesque Alt Bold', sans-serif;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		.logo-container {
			svg {
				width: 77px;
			}
		}
		.desktop-nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			
			@media(max-width:991px){
				display: none !important;
			}
			.menu-top-bar-container {
				float: left;
				padding-right: .75rem;
				.top-bar {
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;
					height: 110px;
					li {
						position: relative;
						display: flex;
    					align-items: center;
						a {
							padding: .25rem 1rem;	
							color: $c_black;
							text-decoration: none;
							text-transform: uppercase;
							letter-spacing: 1.1px;
							font-size: 14px;
							@include smoothTransition;
							&:hover {
								color: $c_blue;
							}
						}
						&.menu-item-has-children:hover {
							.sub-menu {
								display: block;
							}
						}
						.sub-menu {
							display: none;
							z-index: 99;
							position: absolute;
							background: $c_blue;
							list-style-type: none;
							margin: 0;
							padding: 0;
							left: calc(50% - 135px);
					        top: 100%;
					        padding: 25px;
					        width: 270px;
    						text-align: left;
							box-shadow: 4px 4px 24px rgba(0,0,0,.08);
    						@include fadeInUp;
							@include smoothAnimation;
					        li {
					        	display: block;
            					margin-left: 0;
            					& + li {
              						padding-top: 7px;
              					}
              					a {
					             	text-transform: initial;
					             	white-space: nowrap;
									color: $c_white;
									padding: 0;	
									text-align: left;
									display: block;
									text-decoration: none;
									text-transform: none;
									letter-spacing: none;
									font-size: 16px;
									font-family: 'Galano Grotesque Alt', sans-serif;
									@include smoothTransition;
									&:hover {
										color: $c_pink;
									}
              					}
					        }
					        &:before {
					            content: '';
					            width: 0;
					            height: 0;
					            border-left: 11px solid transparent;
					            border-right: 11px solid transparent;
					            border-bottom: 12px solid $c_blue;
					            position: absolute;
					            top: -12px;
					            left: 0;
					            right: 0;
					            margin: 0 auto;
					        }
						}
					}				
				}
			}
			.search-icon {
				font-size: 19px;
				color: $c_lightgray;
				padding: 0.25rem 1rem;
				padding-left: 0.25rem;
  				@include smoothTransition;
				&:hover {
					color: $c_gold;
					cursor: pointer;
				}
			}
			.action-buttons {
				padding-left: 1rem;
				button {
					float: left;
				}
			}			
		}

		// Mobile navigation

		.mobile-nav {
			display: none;
			@media(max-width:991px){ 
				display: block;
				.hamburger-menu {
					.menu-toggle {
						.hamburger-box {
						    width: 33px;
						    height: 20px;
						    display: inline-block;
						    position: relative;
						    padding-top: 13px;
						    .hamburger-inner,
						    .hamburger-inner::after,
						    .hamburger-inner::before {
						    	content: '';
						    	width: 33px;
							    height: 2px;
							    background: $c_black;
							    border-radius: 0;
							    position: absolute;
  								@include smoothTransition;
						    }
						    .hamburger-inner::after {
								width: 25px;
								right: 0;
								bottom: -9px;
						    } 
						    .hamburger-inner::before {
								width: 30px;
								right: 0;
								top: -9px;
						    }
						}
						&.open {
							.hamburger-box {
								.hamburger-inner {
							   	 	background: transparent;
								    transform: rotate(90deg);
							   	 	&::after {
							   	 		background: $c_blue;
						   	 		    width: 36px;
									    right: 0;
									    top: 0;
									    height: 3px;
									    transform-origin: center;
									    transform: rotate(45deg);
							   	 	}
							   	 	&::before {
							   	 		background: $c_blue;
						   	 		    width: 36px;
									    right: 0;
									    top: 0;
									    height: 3px;
									    transform-origin: center;
									    transform: rotate(-45deg);
							   	 	}
								}
							}
						}
					}
				}
				.menu-overlay {
					position: fixed;
				    top: 0;
				    left: 0;
				    width: 100%;
				    padding: 30px;
				    min-height: 100vh;
				    background: $c_white;
				    display: none !important;
				    -ms-flex-direction: column;
				    flex-direction: column;
				    -ms-flex-pack: center;
				    justify-content: center;
				    -ms-flex-align: center;
				    align-items: center;
				    text-align: center;
				    @include fadeIn;
					@include smoothAnimation;
					.menu-mobile-menu-container {
					    @include zoomIn;
						@include smoothAnimation;
						ul {
							width: 100%;
						    list-style: none;
						    margin: 0;
						    padding: 0;
							li {
							    font-size: 25px;
							    line-height: 130%;
							    margin-bottom: 8px;
								a {
									font-family: "Galano Grotesque Alt Bold", sans-serif;
								    color: $c_black;
								    padding: 5px;
								    text-decoration: none !important;
								}
							}
						}
					}
					.action-buttons {
					    @include zoomIn;
						@include smoothAnimation; 
						margin-top: 30px;
						button {
							float: left;
							clear: both;
							margin-top: 7px;
						}
					}
				}
			}
		}
	}

	@media(max-width:991px){
		height: 70px;
		.container {
			.logo-container {
				svg {
					width: 53px;
				}
			}
		}
	}
}


// Change on scroll

.has-scrolled {
	header {
		box-shadow: 4px 4px 24px rgba(0,0,0,.08);
	}
}


// Mobile menu opened

.menu-opened {
	header {
		.mobile-nav {
			.menu-overlay {
				display: flex !important;
				display: -ms-flexbox !important;
			}
		}
	}
}
