.home {
    .signup-form {
        background: $c_dark;
        padding: 50px;
        top: -93px;
        float: right;
        position: relative;
        display: inline-block;
        z-index: 3;
        max-width: 610px;
        h4 {
            color: $c_white;
        }
        @media(max-width: 991px){
            width: 100%;
            max-width: 100%;
            top: -20px;
            padding: 30px 30px 15px;
        }
    }
    .welcome-content {
        width: 100%;
        display: block;
        float: left;
        h1 {
            max-width: 575px;
            float: left;
        }
        .welcome-text {
            margin-top: 60px;
            margin-bottom: 60px;
            float: left;
            width: 100%;
        }
    }
    .block-quote {
        width: 100%;
        padding: 320px 0 120px;
        text-align: center;
        z-index: -1;
        margin-top: -280px;
        background: $c_pink;
        display: block;
        float: left;
        button {
            display: inline-block;
            margin-bottom: 60px;
        }
        h2 {
            display: inline-block;
            float: none;
            clear: both;
            text-align: left;
        }
    }
    @media(max-width: 991px){
        .welcome-content {
            margin-top: 30px;
            .welcome-text {
                margin-top: 45px;
                margin-bottom: 0;
                text-align: center;
                button {
                    margin-bottom: 45px;
                    display: inline-block;
                }
                p {
                    text-align: left;
                }
            }
        }
        .block-quote {
            padding: 280px 0 80px;
        }
    }
}