.home {
    .signup-form {
        background: $c_dark;
        padding: 50px 50px 35px;
        top: -93px;
        float: right;
        position: relative;
        display: inline-block;
        z-index: 3;
        max-width: 610px;
        h4 {
            color: $c_white;
        }
        @media(max-width: 991px){
            width: 100%;
            max-width: 100%;
            top: -20px;
            padding: 45px 35px;
        }
    }
    .full-width-color {
        padding: 320px 0 120px;
        text-align: center;
        z-index: -1;
        margin-top: -280px;
        
        button {
            display: inline-block;
            margin-bottom: 60px;
        }
        h2 {
            display: inline-block;
            float: none;
            clear: both;
            text-align: left;
        }
    }
    @media(max-width: 991px){
        .full-width-color {
            button {
                margin-bottom: 45px;
            }
            padding: 280px 15px 60px;
        }
    }
}